<div class="mat-elevation-z8 form-container">
  <div class="form">
    <form [formGroup]="sensorDataForm" (ngSubmit)="onSubmit()">
      <div class="column">

        <h1>Neuer Eintrag</h1>

        <mat-form-field>
          <mat-label>Sensor:</mat-label>
          <mat-select formControlName="sensorId" matInput>
            <mat-option *ngFor="let sensor of sensors" [value]="sensor.id">{{ sensor.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="sensorDataForm.controls['sensorId'].invalid">Ungültiger Sensor!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="datetime"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="sensorDataForm.controls['datetime'].invalid">Ungültiges Datum!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Temperatur" type="number" formControlName="temperature" min="-273" max="273"/>
          <mat-error *ngIf="sensorDataForm.controls['temperature'].invalid">Ungültige Temperatur!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Luftfeuchtigkeit" type="number" formControlName="humidity" min="0" max="100"/>
          <mat-error *ngIf="sensorDataForm.controls['humidity'].invalid">Ungültige Luftfeuchtigkeit!</mat-error>
        </mat-form-field>

        <button mat-button color="primary" type="submit">Einfügen</button>

      </div>
    </form>
  </div>
</div>
